{% extends "base.html" %}
{% block title %}TourHub Map{% endblock title %}

{% block head %}
{{ super() }}
    <!-- OpenLayers CSS -->
    <link href="static/css/ol.css" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div id="map" class="map"></div>
{% endblock content %}

{% block js %}
{{ super() }}
    <!-- OpenLayers -->
    <script src="static/js/ol.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript">
      $(document).ready(function() {
	      var map = new ol.Map({
		target: 'map',
		layers: [
		  new ol.layer.Tile({
		    source: new ol.source.MapQuest({layer: 'sat'})
		  }),
		],
		view: new ol.View({
		  center: ol.proj.transform([0, 0], 'EPSG:4326', 'EPSG:3857'),
		   maxZoom: 8,
		   minZoom: 2,
		  zoom: 2
		})
	      });
	      resizeMap();
      });
	function resizeMap() {
		var canvasheight=$('#map').parent().css('height');
		var canvaswidth=$('#map').parent().css('width');
		$('#map').css("height", canvasheight);
		$('#map').css("width", canvaswidth);

	}
        window.onresize = function()
	{
		resizeMap();
	}
</script>
{% endblock js %}
