{% extends "base.html" %}
{% block title %}TourHub Map{% endblock title %}

{% block head %}
{{ super() }}
    <!-- OpenLayers CSS -->
    <link href="static/css/ol.css" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div id="map" class="map"></div>
    <div class="row vertical-center">
	<div class="col-lg-12 col-lg-offset-3">
	    <div class="search_bar"> 
		<div class="input-group input-group-lg">
		    <input id="search" type="text" class="form-control input-lg" 
		    placeholder="Modest Mouse">
		    <span class="input-group-btn">
			<button class="btn btn-primary" type="submit">Let's Tour</button>
		    </span>
		</div>
	    </div>
	</div>
    </div>
{% endblock content %}

{% block js %}
{{ super() }}
    <!-- OpenLayers -->
    <script src="static/js/ol.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript">
    $(document).ready(function() {
      var map = new ol.Map({
          target: 'map',
          layers: [
              new ol.layer.Tile({
                  source: new ol.source.MapQuest({layer: 'sat'}),
              }),
          ],
          view: new ol.View({
              center: ol.proj.transform([0, 0], 'EPSG:4326', 'EPSG:3857'),
              extent: ol.proj.transformExtent([-180,-50,180,50], 'EPSG:4326', 'EPSG:3857'),
              maxZoom: 12,
              minZoom: 2,
              zoom: 2
          })
      });
      resizeMap();
      map.updateSize();
    });
    function resizeMap() {
        var canvasheight=$('#map').parent().css('height');
        var canvaswidth=$('#map').parent().css('width');
        $('#map').css("height", canvasheight);
        $('#map').css("width", canvaswidth);
    };
    window.onresize = function() {
        resizeMap();
    };
    </script>
{% endblock js %}
